input {
  caret-color: #fff;
}

body {


  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: black;
}

p {
  color: #fff;
  font-size: 1.2rem;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  background: #000;
}

.brand-logo {
  height: 40px;
  width: 40px;
  background: url("icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
}

#status {
  font-weight: 900;
  color: #1da1f2;
  letter-spacing: 1px;
}

label,
input,
button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1rem;
}

label {
  margin-bottom: 3px;
  color: #fff;
  padding-bottom: 0.25rem;
}


input::placeholder {
  color: #888;
}

input {
  background: #000;
  padding: 1.5rem;
  padding-left: 20px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #2f3336;
  color: #fff;
  font-size: 1rem;
}

input[type="checkbox"] {
  box-shadow: none;
  height: 30px;
}

input[type="text"]:focus {
  border-color: #1da1f2;
}

.text-option label {
  font-size: 0.8rem;
}

.inputs {
  text-align: left;
}

.option {
  margin-top: 13px;
}

.space {
  padding-top: 2rem;
}

.option.checkboxes {
  display: flex !important;
}

.option.checkboxes label {
  width: 80% !important;
}

.option.checkboxes input {
  width: 20% !important;
}

button {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}