input {
  caret-color: #fff;
}

body {


  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: 1px solid #2f3336;
  background-color: black;
  ;

}

.savecontainer {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  border-top: 1px solid #2f3336;
}

.header {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 80px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #2f3336;
  padding: 1rem;
}

.header button {
  margin: 0;
  border: 1px solid #fff;
  background: none;
}

.header button:hover {
  margin: 0;
  background: #fff;
  color: black;
}

.header h1 {
  color: #fff;
  text-align: left;
  margin: 0;

}

p {
  color: #fff;
  font-size: 1.2rem;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  background: #000;
  width: 40rem;
}

.brand-logo {
  height: 32px;
  width: 32px;
  background: url("icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
}

#status {
  font-weight: 900;
  color: #1da1f2;
  letter-spacing: 1px;
}

label,
input,
button {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 0.8rem;
}

label {
  margin-bottom: 3px;
  color: #fff;
  padding-bottom: 0.25rem;
}


input::placeholder {
  color: #888;
}

input {
  background: #000;
  padding: 1.5rem;
  padding-left: 20px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #2f3336;
  color: #fff;
  font-size: 1rem;
}

input[type="checkbox"] {
  box-shadow: none;
  height: 24px;
}

input[type="text"]:focus {
  border-color: #1da1f2;
}

.text-option {
  flex: 1;
}

.text-option label {
  font-size: 0.8rem;
}

.inputs {
  text-align: left;
  width: 100%;
}

.option {}

.options {
  width: 100%;
}

.space {
  padding-top: 0.5rem;
}

.option.checkboxes {
  display: flex !important;
  align-content: center;
  border-top: 1px solid #2f3336;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
}

.option.checkboxes label {
  margin: 0;
  padding: 0;
  margin-top: 0.05rem;
}

.option.checkboxes input {
  width: 2rem !important;
}

button {
  color: white;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.2s;
}

button:hover {
  box-shadow: none;
}



.inputs-split {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}